In [9]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
#from google.colab import drive
import os

#drive.mount('/content/gdrive')
#current_directory = "./gdrive/My Drive/Apparel Recommendation/"
current_directory = os.getcwd()

# DATASET - MODEL v1

In [10]:
df_data = df.groupby(['visitorid', 'itemid', 'event'])['timestamp'].nunique().reset_index()
df_data.head()

   visitorid  itemid event  timestamp
0          0   67045  view          1
1          0  285930  view          1
2          0  357564  view          1
3          1   72028  view          1
4          2  216305  view          2

In [11]:
def calculate_rating(event, cnt):
    if event == 'transaction':
        return 5
    elif event == 'addtocart':
        if cnt >= 10:
            return 5
        else:
            return 4
        pass
    else:
        if cnt > 50:
            return 5
        elif cnt > 25:
            return 4
        elif cnt > 10:
            return 3
        elif cnt > 5:
            return 2
        else:
            return 1
        pass
    pass

In [12]:
df = pd.read_csv(current_directory + r'\Datasets\events.csv', index_col=False)
print("Events :" + str(df.info()), end="\n\n")
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2756101 entries, 0 to 2756100
Data columns (total 5 columns):
 #   Column         Dtype
---  ------         -----
 0   timestamp      int64
 1   visitorid      int64
 2   event          object
 3   itemid         int64
 4   transactionid  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 105.1+ MB
Events :None

       timestamp  visitorid event  itemid  transactionid
0  1433221332117     257597  view  355908            NaN
1  1433224214164     992329  view  248676            NaN
2  1433221999827     111016  view  318965            NaN
3  1433221955914     483717  view  253185            NaN
4  1433221337106     951259  view  367447            NaN

In [13]:
df_data['rating'] = df_data.apply(lambda x: calculate_rating(x['event'], x['timestamp']), axis=1)
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2215422 entries, 0 to 2215421
Data columns (total 5 columns):
 #   Column     Dtype
---  ------     -----
 0   visitorid  int64
 1   itemid     int64
 2   event      object
 3   timestamp  int64
 4   rating     int64
dtypes: int64(4), object(1)
memory usage: 84.5+ MB

In [14]:
df_data.to_csv(current_directory + r'\Datasets\user_ratings.csv')